<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/styles.css">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

  <body>
  <h1> SASE IS LYFE </h1>
  <div class="input-color">
        <!-- Legend -->
        <div class="color-box" style="background-color: #69F0AE;">Professional</div> 
        <div class="color-box" style="background-color: #FFA726;">Social</div> 
        <div class="color-box" style="background-color: #EF5350;">CS</div> 
        <div class="color-box" style="background-color: #4CAF50;">Fundraising</div> 
        <div class="color-box" style="background-color: #E0E0E0;">GBM</div> 
        <div class="color-box" style="background-color: #FFEB3B;">O/I</div> 

        </div>

  <div class="container" style="margin-top: 2%">
    <div id="calendar"></div>
  </div>

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/calendar.js"></script>
  </body>
</head>
</html>