<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/styles.css">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


	<title> Sase 5 Lyfe</title>

  <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async='async'></script>
  <script>
    var OneSignal = window.OneSignal || [];
    OneSignal.push(["init", {
      appId: "765d6e0f-459d-4ef1-8144-b527ccf80c05",
      autoRegister: true, /* Set to true to automatically prompt visitors */
      subdomainName: 'sase.onesignal.com',
      /*
      subdomainName: Use the value you entered in step 1.4: http://imgur.com/a/f6hqN
      */
      httpPermissionRequest: {
        enable: true
      },
      notifyButton: {
          enable: true /* Set to false to hide */
      }
     // safari_web_id: "web.onesignal.auto.12f40fc9-13d7-4ca9-8e4a-0a7d50f473bf"
    }]);
  </script>
</head>

<body>
	<h1>SASE IS LYFE</h1>
	  <!-- Trigger the modal with a button -->
<button type="button" class="btn" id="add_event" data-toggle="modal" data-target="#myModal">Add Event</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add an Event</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <!-- Event -->
          <label for="event">Event</label>
          <input type="text" class="form-control" id="name">
        </div>

         <!-- Type of Event -->
		  <div class="form-group">
  			<label for="sel1">Type of Event</label>
  			<select class="form-control" id="type">
    			<option>Professional</option>
    			<option>Social</option>
    			<option>Community Service</option>
    			<option>Fundraising</option>
    			<option>GBM</option>
    			<option>Officer/Intern</option>
  			</select>
		  </div>

          <!-- Week -->
          <div class="form-group">
 			 <label for="week">Week</label>
 			 <select class="form-control" id="week"  onmousedown="if(this.options.length>4){this.size=4;}"  onchange='this.size=0;' onblur="this.size=0;">
  		       <option>1</option>
   	           <option>2</option>
  	           <option>3</option>
   	           <option>4</option>
   	           <option>5</option>
   	           <option>6</option>
  	           <option>7</option>
   	           <option>8</option>
   	           <option>9</option>
   	           <option>10</option>
             </select>
		  </div>

		  <!-- Date -->
		  <div class="form-group">
  			<label for="Date">Date:</label>
  			<br>
  		    <input type="date" name="date" id="date">
		  </div>
      <div class="form-group">
        <label for="start_time">Start time:</label>
        <input type="time" id="start_time" name="start_time" style="width:25%">
        <label for="end_time">End Time:</label>
        <input type="time" id="end_time" name="end_time" style="width:25%">

      </div>
      <div class="form-group">
      <!-- Location -->
          <label for="Location">Location</label>
          <input type="text" class="form-control" id="location">
      </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="getData()" align="center">Add</button>
      </div>
    </div>

  </div>
</div>

<!-- Script to get data from adding event -->
<script>
  function getData() {
    var name = document.getElementById("name");
    var type = document.getElementById("type");
    var week = document.getElementById("week");
    var date = document.getElementById("date");
    var start = document.getElementById("start_time");
    var end = document.getElementById('end_time');
    var location = document.getElementById('location');

    console.log("hello");
    console.log(location.value);

     $.post("/add_event", 
    { 
      "name": name.value,
      "type": type.value, 
      "week": week.value, 
      "date": date.value,
      "start": start.value,
      "end": end.value,
      "location": location.value,
    }, function(data) {console.log("success!")} );
  }
</script>

	<p> Put some generic info here? </p>

	<!-- Weekly Choice Buttons -->
	<div class="weeks">
    <span class="weeks2">
		<button type="button" class="btn" data-toggle="modal" data-target="#weekModal"> Week 1 </button>
		<button type="button" class="btn" data-toggle="modal" data-target="#weekModal"> Week 2 </button>
		<button type="button" class="btn" data-toggle="modal" data-target="#weekModal"> Week 3 </button>
		<button type="button" class="btn" data-toggle="modal" data-target="#weekModal"> Week 4 </button>
		<button type="button" class="btn" data-toggle="modal" data-target="#weekModal"> Week 5 </button>
		<button type="button" class="btn" data-toggle="modal" data-target="#weekModal"> Week 6 </button>
		<button type="button" class="btn" data-toggle="modal" data-target="#weekModal"> Week 7 </button>
		<button type="button" class="btn" data-toggle="modal" data-target="#weekModal"> Week 8 </button>
		<button type="button" class="btn" data-toggle="modal" data-target="#weekModal"> Week 9 </button>
		<button type="button" class="btn" data-toggle="modal" data-target="#weekModal"> Week 10 </button>
  </span>
	</div>
	

  <!-- Week Modal -->
<div id="weekModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="week_title" style="font-size: 200%">Weekly View</h4>
        <div class="input-color">
        <!-- Legend -->
        <div class="color-box" style="background-color: #69F0AE;">Professional</div> 
        <div class="color-box" style="background-color: #FFA726;">Social</div> 
        <div class="color-box" style="background-color: #EF5350;">CS</div> 
        <div class="color-box" style="background-color: #4CAF50;">Fundraising</div> 
        <div class="color-box" style="background-color: #E0E0E0;">GBM</div> 
        <div class="color-box" style="background-color: #FFEB3B;">O/I</div> 

        </div>

      </div>
      <div class="modal-body">
        <u1 class="modal_containers" id="week_ctns">

        </u1>
        <table class="table table-striped" id="tblGrid">
            <thead id="tblHead">
            <col width="25%">
              <tr>
                <th class="text-center">Day</th>
                <th class="text-center">Event</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td id="Mon_head"></br>Mon</td>
                <td id="Mon"></td>
              </tr>
              <tr>
                <td id="Tue_head"></br>Tues</td>
                <td id="Tue"></td>
              </tr>
              <tr>
                <td id="Wed_head">Wed</td>
                <td id="Wed"></td>
              </tr>
              <tr>
                <td id="Thu_head">Thu</td>
                <td id="Thu"></td>
              </tr>
              <tr>
                <td id="Fri_head">Fri</td>
                <td id="Fri"></td>
              </tr>
              <tr>
                <td id="Sat_head">Sat</td>
                <td id="Sat"></td>
              </tr>
              <tr>
                <td id="Sun_head">Sun</td>
                <td id="Sun"></td>
              </tr>
            </tbody>
          </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" align="center">Close</button>
      </div>
    </div>

  </div>
</div>


<button><a href="{{calendar_view}}">Calendar</a></button>
<div> <p1 id="updated"> </p1>





	<!-- Cards -->
	<!--
	<div class="card-stack">
  		<div class="card">
    		<h4 class="card-title">Game Night</h4>
    		<p class="card-text">Here is some info about the event.</p>
  		</div>
	</div>

	<div class="card-stack">
  		<div class="card">
    		<h4 class="card-title">Info Night</h4>
    		<p class="card-text">Here is some info about the event.</p>
  		</div>
	</div> -->

	<!-- End Cards-->
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/sase.js"></script>
</body>
</html>
